# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


#平安外包的群
.DS_Store
#node_modules
/dist
/dist-bank
/dist-organ
/cloudpaybm
/cloudpaycm

# local env files
.env.local
.env.*.local

# 保留node_modules文件夹
!node_modules

# 忽滤node_modules文件夹下所有文件包含子文件夹
/node_modules/*

# 保留文件夹下node-sass
!node_modules/node-sass/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#vim
*.swp
*.*~
*~

#压缩包
# *.zip
# *.7Z
# *.7z

cloudpaybm.zip
cloudpaycm.zip

